ARGUS_HOST=0.0.0.0
ARGUS_PORT=443
ARGUS_HTTP_PORT=80
ARGUS_DATA_DIR=
ARGUS_MEDIA_DIR=
ARGUS_FFMPEG_PATH=
ARGUS_LOG_LEVEL=info
ARGUS_TRUST_PROXY=false
ARGUS_SESSION_TTL_HOURS=12
ARGUS_AUTO_UPDATE=true
ARGUS_AUTO_UPDATE_MIN_INTERVAL=60
ARGUS_PUBLIC_ACCESS=false
ARGUS_PUBLIC_HOSTS=
ARGUS_TRUSTED_NETWORKS=
ARGUS_TLS_CERT=
ARGUS_TLS_KEY=
ARGUS_TLS_CA=
